background-img(img)
  url = '/static/img/' + img
  background url(url) 100% 100% no-repeat
  background-size contain

.d-none
  display none

.top-error
  width 610px
  text-align center
  color red
  font-size 20px

.rock
  background-img('rock.png')
.paper
  background-img('paper.png')
.scissors
  background-img('scissors.png')
.rock_dark
  background-img('rock_dark.png')
.paper_dark
  background-img('paper_dark.png')
.scissors_dark
  background-img('scissors_dark.png')
.close
  background-img('close.png')
.done
  background-img('done.png')




